{% extends "layout.html" %}

{%block title%} {{super()}}{%endblock%}
{%block css%} "/static/css/deskPro.css" {%endblock%}
{%block header%}
    <!--[header]-->
	<header id = "header">
		<div id = "project-name"> NEXT Hide and Desk </div>
	</header>
	<!--/[header]-->
{%endblock%}
{%block main%}	
	<!--[main]-->
		<div id="container">
			<div id="deskImage-container">
					<img id="deskImage" src = "{{ NextDesks }}">
			</div>
			<div class="icon-sudo-hover">
				<div id="person-icon"> </div>
				<div id="reload-icon" > </div>
			</div>
			<div id="nick-name">{{nickName}}</div>
		</div>
	<!--/[main]-->
{%endblock%}
{%block footer%}
	<!--[footer]-->
	<footer id="footer"> 
		<div id= "container-cpr">
			made by Kate
			<a href="https://github.com/Kyoo32/NEXT_hide_and_desk"> ... </a>
		</div>
	</footer>
	<!--/[footer]-->
{%endblock%}
{%block javascript%}
	<script type="text/javascript">
	var iconLoad = document.getElementById("reload-icon");
	iconLoad.addEventListener("click", function(){
		location.reload();
	});

	var iconName = document.getElementById("person-icon");
	iconName.addEventListener("click", function(){
		var target = iconName.parentNode.parentNode.querySelector('#nick-name');
		console.log(target);
		if(target.style.opacity == "" || target.style.opacity == "0" ){
			target.style.opacity = "1";
		}else {
			target.style.opacity = "0";
		}
	});
	</script>
{%endblock%}